.answer{
  margin: 0%;
  padding: 2.5%;
  background-color: #2C98F0;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 85%;
  color: white;
  height: 80%;
  width: 60%;
  border-radius: 7px;
  align-content: center; 
  text-align: center;
  align-items: center;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  /* display: none; */
  justify-content: space-around;
  display: flex;
  margin: 0% auto;

}

.answer{
  align-content: center;
  align-items: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}