.container{
    display: flex;
}

.container-food{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadro {
  display: flex;
  color:black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  width: 7rem;
  height:7rem;
  text-align:center;
  font-family: 'Reem Kufi', sans-serif;
  box-shadow: 0px 2px 8px 7px rgba(77, 74, 74, 0.2);

}

.iconFood{
    display: flex;
    padding-bottom: 0.3rem;
    margin: 0 auto;
    width: 60%;
}

.nameFood{
    font-family: 'Reem Kufi', sans-serif;
}