.content{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.btn-login{
  background-color: darkcyan;
  color: white;
  height: 4rem;
  width: 13rem;
  border-radius: 9px;
  font-size: 120%;
  font-family: 'Reem Kufi', sans-serif;
  margin: 0% auto;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5%;

}

.logo-logo{
  height: 15rem;
  margin: 0% auto;
  display: flex;
}

.password-input,
.mail-input{
  width: 100%;
 display: flex;
 margin: 0% auto;
 align-content: center;
 align-items: center;
 justify-content: center;
}