.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus{
  outline: none;
}

.toggle-button__line{
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background: white;
  margin-top: 6px;
}
