.orderCarContainer{
    display: flex;
    width: 300px;
    height: 80vh;
    flex-direction: column;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
}
.status-table{
    display: inline;
    height: 1rem;
    width: 1rem;
    // border: 1px solid gray;
    // background-color: gray;
     margin: 8px;
    // font-size: 1.5rem;
}

.btn-status {
    height: 1rem;
    width: 1rem;
    border: 1px solid gray;
    background-color: #42FF00;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.3);
    margin: 8px;
    font-size: 1.5rem;
}
