.orderCarContainer{
    display: flex;
    width: 300px;
    height: 80vh;
    flex-direction: column;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
}
.status-table{
    display: inline;
    height: 1rem;
    width: 1rem;
    // border: 1px solid gray;
    // background-color: gray;
     margin: 8px;
    // font-size: 1.5rem;
}

.btn-status {
    height: 1rem;
    width: 1rem;
    border: 1px solid gray;
    background-color: #42FF00;
  /*   box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.3); */
    margin: 8px;
    font-size: 1.5rem;
    font-family: 'Reem Kufi', sans-serif;
}
.btnsOrderCar{
    display: flex;
  /*   display: inline-block; */
    align-content: space-between;
}
.btnOrderCar{
    display: flex;
    margin: 10px;
    background-color:  #2C98F0;
    width: auto;
    height: 42px;
    border: none;
    color: white;  
    font-family: 'Reem Kufi', sans-serif; 
}
.btn-add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-align:center;
    padding: 0%;
    margin: 0%;
}
.orderContainer{
    display: flex;
    flex-direction: row;

}
figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 2rem;
    height: 2rem;
    text-align:center;
    margin: 3%;
    /* box-shadow: 0px 2px 8px 7px rgba(77, 74, 74, 0.2); */
  
  }
  .img-add{
    display: flex;
    padding-bottom: 0.3rem;
    margin: 0 auto;
    width: 80%;

  }